<%= stylesheet_link_tag("index.css") %>
<div class="container p-4">
  <h1 class="mt-4 mb-4">Product List</h1>

  <%= form_tag('/', method: 'get', class: 'mb-4') do %>
    <div class="input-group px-4">
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by title' %>
      <div class="input-group-append mx-4">
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <div class="table-responsive mt-4">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr class="border-3">
          <td class="text-uppercase col-lg-3"><%= link_to product['title'], "products/#{product['id']}" %></td>
          <td class="p-2 col-lg-2"><%= image_tag(product['image'], height: '150', class: 'img-fluid') %></td>
          <td class="col-lg-1"><%= "#{product['rating']['rate']} (#{product['rating']['count']} reviews)" %></td>
          <td class="w-40 col-lg-4"><%= product['description'] %></td>
          <td class="fw-bold col-lg-2"><%="$ #{product['price']} CAD" %></td>
          <td class="col-lg-2"><%= product['category'] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
